<div class="container">
	<div class="footer">
	  <small>
	    <%= link_to "One Month Rails", "http://onemonthrails.com" %>
	    by <%= link_to "Jun Lim", "http://hungryhippie.org", :target => "_blank" %>
	  </small>
	</div>
</div>